.button {
    padding: 0px 15px;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    transition: .3s all ease;
}

.button:hover,
.button:focus {
    color: var(--accent-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--accent-color);
}

.button:disabled {
    cursor: not-allowed;
}

.icon {
    fill: currentColor;
}