
# NEW TELEGRAM BOT
NEXT_PUBLIC_TELEGRAM_BOT_TOKEN=<TELEGRAM BOT TOKEN>
NEXT_PUBLIC_TELEGRAM_CHANNEL_CHAT_ID=<TELEGRAM BOT TOKEN>

# CAPTCHA
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=<recaptcha site key>
RECAPTCHA_SECRET_KEY=<recaptcha secret key>