.buttonClose {

    display: flex;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 10px;

    cursor: pointer;

    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50px;
    fill: var(--accent-color);
    cursor: pointer;
    transition: .3s all ease;
}

.buttonClose:hover {
    border: 1px solid var(--accent-color);
}

.buttonClose:focus,
.buttonClose:hover {
    fill: var(--accent-color);
    background-color: var(--secondary-color);
}

.buttonCloseIcon {
    width: 28px;
    height: 28px;
}


