.nav {
    position: fixed;
    top: 10px;
    left: -225px;
    display: block;
    width: 220px;
    height: 98%;
    padding-top: 24px;
    padding-left: 24px;
    z-index: 999;
    background-color: var(--secondary-color);
    border: 2px solid var(--accent-color);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s linear;

    @media (min-width: 768px) {
        width: auto;
        background-color: inherit;
        position: static;
        margin-left: auto;
        border: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: none;
        padding-top: 0;
        padding-left: 0;
    }
}

.navActive {
    transform: translateX(100%);

    @media (max-width: 767px) {
        transform: translateX(100%);
    }
}

.navList {
    /* display: block; */
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (min-width: 768px) {
        /* display: flex; */
        flex-direction: row;
        align-items: center;

        /* gap: 10px; */

    }

    @media (min-width: 1200px) {

        gap: 36px;

    }
}

.navLink {
    display: block;
    font-size: 16px;
    padding: 8px;
    margin: 8px 0;
    text-align: left;
    color: var(--primary-color);
    font-weight: 400;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    @media (min-width: 768px) {
        margin: 0;
        padding: 20px 0;
        text-align: center;

    }

    @media (min-width: 1440px) {
        font-size: 20px;
        font-weight: bold;
    }
}

.navLink:last-child {
    margin-bottom: 0;
}

.navText {
    position: relative;
    padding-bottom: 5px;
}

.navText::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;

    left: 0;
    bottom: 0;

    transform: scaleX(0);

    background-color: var(--accent-color);
    transition: transform 250ms ease-in-out 0s, color 250ms ease-in-out 0s;

}

.navLink:hover>.navText::after {
    transform: scaleX(1);
}

/* для активного пункта меню */
.active>span::after {
    transform: scaleX(1);
}

/* для активного пункта меню */
.active>span {
    color: var(--accent-color);
}