.callform {
  background-color: var(--services-bg-color);
}

.wrapper {
  @media (min-width: 768px) {
    padding: 0 150px;
  }

  @media (min-width: 1024px) {
    padding: 0 250px;
  }
}

.formCall {
  width: 100%;


}

.formTitle {
  margin-bottom: 20px;

  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--accent-color);
  text-align: center;

  @media (min-width: 768px) {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 16px;

  }
}


.formLabel {
  display: flex;
  margin-bottom: 12px;

  color: var(--darken-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

}

.formInput {
  display: block;

  margin: 0 0 24px 0;
  padding-left: 15px;
  padding-right: 15px;

  width: 100%;
  height: 58px;

  color: var(--darken-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;

  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  background-color: var(--secondary-color);

  transition: border-color 0.15s ease-in-out, background-image 0.15s ease-in-out;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.formInput:focus {
  border-color: var(--accent-color);

}


.formInput::placeholder {
  color: var(--text-color);
}

.formSelect {
  composes: formInput;
  color: var(--text-color);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  background-image: url(../../../public/icons/selectarrow.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  padding-right: 60px;
  height: 68px;
  white-space: normal;
  /* For Firefox: */
  text-overflow: ellipsis;

}

.formSelect::-ms-expand {
  display: none;
  /* remove arrow IE     */
}

.formSelect:focus {
  background-image: url(../../../public/icons/chosenselectarrow.png);
}

.formOption {
  /* wrap text in compatible browsers */
  -moz-white-space: pre-wrap;
  -o-white-space: pre-wrap;
  white-space: pre-wrap;
  /* hide text that can't wrap with an ellipsis */
  overflow: hidden;
  text-overflow: ellipsis;

}

.formTextarea {
  display: block;
  resize: none;

  width: 100%;
  height: 120px;

  padding: 12px 16px;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 30px;

  outline: none;
  color: var(--darken-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.formTextarea:focus {
  border-color: var(--accent-color);

}

.formTextarea::placeholder {

  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color);



}

.butWrapper {
  display: flex;
  justify-content: center;

}

.butWrap {
  width: 230px;
  height: 70px;
  margin-bottom: 48px;
  margin-top: 36px;

  @media (min-width: 768px) {
    width: 280px;
  }
}

.policyWrapper {
  display: flex;
  align-items: center;

}

.checkboxPolicy {
  appearance: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.checkboxIcon {
  position: absolute;

  margin: 0;

  fill: transparent;
  border: 2px solid var(--darken-color);
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkboxPolicy:checked+.checkboxIcon {
  fill: var(--secondary-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  animation: scale-in .2s ease-in-out;
}

.policyLabel {
  position: relative;
  padding-left: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.03em;

  color: var(--darken-color);
}

.policyLink {

  font-weight: 400;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.03em;

  text-decoration-line: underline;

  color: var(--accent-color);
}

.inputWrapper {
  position: relative;

}

.formPhoneInput {
  composes: formInput;
  padding: 0 0 0 43px;

}


.phoneCode {
  width: 55px;
  height: 58px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right: none;
  background-color: var(--secondary-color);
}

.phoneCodeText {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  color: var(--darken-color);
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.accent {
  color: var(--accent-color);
  font-weight: 700;
}