.navbar {
    width: 100%;
    height: 64px;
    position: relative;
    left: 0;
    padding: 10px 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    z-index: 50;

    @media (min-width: 768px) {
        height: 88px;
        position: absolute;
        right: 0;
        left: 0;
        top: 40px;
        background-color: var(--background-color);


    }

}

.scrolled {
    composes: navbar;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: var(--secondary-color);
    transition: background-color 500ms ease-out;

}


.navbarWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

}